@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">
            <section>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4>Create a new account.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email" class="font-weight-bold"></label>
                        <input asp-for="Input.Email" class="form-control" placeholder="E-mail" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password" class="font-weight-bold"></label>
                        <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword" class="font-weight-bold text-danger"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-danger btn-lg">Register</button>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <div class="bg-light text-dark p-lg-4">
                    <h4>On Your Page you will find:</h4>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    Vacancies, calendar, timesheets and payslips, contact details for your Jobzone agent, courses portal, our privacy policy and much more.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </div>
            </section>
        </div>
    </div>
</div>

<style>
body {
    background-color: #f7efef;
}

.container-fluid {
    width: 100%;
    padding-right: 81px;
    padding-left: 81px;
    padding-top: 91px;
    padding-bottom: 91px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    border: 1px solid #d7cfcf;
    background-color: #fff;
}
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
